{% extends "todo/base.html" %}

{% load static %}





{% block content %}

    <div class="about-container">
        <div class="left">
            <h4>about us</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam reprehenderit laborum praesentium nam error! Tenetur voluptates eius culpa ducimus, inventore voluptatem ratione, non hic autem et est enim! Nihil, assumenda.</p>
            <button>learn more</button>
        </div>

        <div class="right">
            <img src="{% static 'todo/images/aboutus.jpg' %}" alt="no image">
        </div>
    </div>
    

{% endblock content %}



